In [2]:
import pandas as pd
from matplotlib import pyplot

In [4]:
immo_dataset = pd.read_csv('get11kdata.csv')

immo_dataset.head()

,locality,property_type,subtype_property,price,type_of_sale,number_of_rooms,living_area,kitchen_fully_equiped,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_surface,habitable_surface,plot_land_surface,number_of_facades,has_swimming_pool,building_state
0,Hasselt,APARTMENT,APARTMENT,390000,residential_sale,2,NaN,NaN,No,No,Yes,29.0,No,NaN,103.0,NaN,NaN,No,NaN
1,Liège,APARTMENT,APARTMENT,125000,residential_sale,1,NaN,NaN,No,No,Yes,2.0,No,NaN,60.0,NaN,NaN,No,NaN
2,Gent,APARTMENT,APARTMENT,375000,residential_sale,3,NaN,NaN,No,No,Yes,12.0,No,NaN,138.0,NaN,NaN,No,NaN
3,Waterloo,HOUSE,HOUSE,425000,residential_sale,3,25.0,No,No,No,Yes,11.0,No,NaN,110.0,147.0,3.0,No,GOOD
4,Buggenhout,HOUSE,HOUSE,435000,residential_sale,6,NaN,NaN,No,No,Yes,NaN,No,NaN,260.0,NaN,NaN,No,NaN

In [5]:
immo_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11283 entries, 0 to 11282
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   locality               11283 non-null  object
 1   property_type          11283 non-null  object
 2   subtype_property       11283 non-null  object
 3   price                  11283 non-null  int64
 4   type_of_sale           11283 non-null  object
 5   number_of_rooms        11283 non-null  int64
 6   living_area            3408 non-null   float64
 7   kitchen_fully_equiped  3408 non-null   object
 8   is_furnished           11283 non-null  object
 9   has_open_fire          11283 non-null  object
 10  has_terrace            11283 non-null  object
 11  terrace_area           4658 non-null   float64
 12  has_garden             11283 non-null  object
 13  garden_surface         2465 non-null   float64
 14  habitable_surface      10670 non-null  float64
 15  plot_land_surface      2709 non-null   float64
 16  number_of_facades      2897 non-null   float64
 17  has_swimming_pool      11283 non-null  object
 18  building_state         3005 non-null   object
dtypes: float64(6), int64(2), object(11)
memory usage: 1.6+ MB

Data Cleaning

Fill empty values

In [ ]:
immo_dataset = immo_dataset.replace({'Yes': 1, 'No': 0}) 
immo_dataset.head(40)

Data Analysis